.idea
checkpoint/
data/291-aug/
data/__pycache__/
data/benchmark/
data/data_detail.txt
data/test/baby_GT.bmp
data/test/benchmark/
data/test/bird_GT.bmp
data/test/butterfly_GT.bmp
data/test/head_GT.bmp
data/test/woman_GT.bmp
data/train_x2.h5
data/train_finetune_x2.h5
model/__pycache__/
summary/